@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:100,300,400,500&subset=cyrillic');

@primaryColor:       #29c2e1;
@darkPrimaryColor:   darken(@primaryColor, 10%);
@lightPrimaryColor:  #BBDEFB;
@textPrimaryColor:   #FFFFFF;
@accentColor:        #f7941d;
@primaryTextColor:   #212121;
@secondaryTextColor: #93a1a7;
@dividerColor:       #BDBDBD;

@blue:               #e5eef0;

figure{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

ol{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

img{
  width: 100%;
  font-size: 0;
}

h1{
;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
  color: @primaryColor;
}

div, section, article, header, main, footer{
	box-sizing: border-box;
}

.transition(@transition){
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.brd(@brd){
  -webkit-border-radius: @brd;
  -moz-border-radius: @brd;
  border-radius: @brd;
}

.bxshd(@bxshd){
  -webkit-box-shadow: @bxshd;
  -moz-box-shadow: @bxshd;
  box-shadow: @bxshd;
}

.transform(@transform){
  -moz-transform: @transform; 
  -ms-transform: @transform; 
  -webkit-transform: @transform; 
  -o-transform: @transform;
  transform: @transform;
}

input[type="text"],
input[type="tel"],
input[type="email"]{
  font-size: 16px;
  letter-spacing: 1px;
  color: @darkPrimaryColor;

  &:focus{
    outline: none;
  }
}

input::-webkit-input-placeholder{
  font-size: 16px;
  opacity: 1;
  font-family: 'Roboto Condensed', sans-serif;
  color: @darkPrimaryColor;
  letter-spacing: 1px;
  text-transform: uppercase;
}
input::-moz-placeholder{
  font-size: 16px;
  opacity: 1;
  font-family: 'Roboto Condensed', sans-serif;
  color: @darkPrimaryColor;
  letter-spacing: 1px;
  text-transform: uppercase;
}/* Firefox 19+ */
input:-moz-placeholder{
  font-size: 16px;
  opacity: 1;
  font-family: 'Roboto Condensed', sans-serif;
  color: @darkPrimaryColor;
  letter-spacing: 1px;
  text-transform: uppercase;
}/* Firefox 18- */
input:-ms-input-placeholder{
  font-size: 16px;
  opacity: 1;
  font-family: 'Roboto Condensed', sans-serif;
  color: @darkPrimaryColor;
  letter-spacing: 1px;
  text-transform: uppercase;
}

input:focus::-webkit-input-placeholder {opacity: 0;}
input:focus::-moz-placeholder          {opacity: 0;}
input:focus:-moz-placeholder           {opacity: 0;}
input:focus:-ms-input-placeholder      {opacity: 0;}

/*********/

body{
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: @primaryTextColor;
    overflow-x: hidden;
}

.great-header{
	width: 100%;
	.bxshd(0 1px 5px 0px rgba(0, 0, 0, 0.5));
	z-index: 1;
}

.great-header__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
}

.great-header__top{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 50px;
	text-transform: uppercase;
	color: @secondaryTextColor;
	background: @blue;
}

.great-header__logo {

}

.great-header__rigth {
    display: flex;
	height: 100%;
	align-items: center;
}

.great-header__phone-number{
	display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    background-repeat: no-repeat;
	background-size: 22.5px;
	background-image: url("../img/smartphone.svg");
	background-position: -5px 12.5px;
}

.great-header__email{
	display: flex;
    align-items: center;
    height: 100%;
    padding-left: 85px;
    background-repeat: no-repeat;
	background-size: 22.5px;
	background-image: url("../img/envelope.svg");
	background-position: 54px 12.5px;
}

.great-header__bottom{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 76px;
	text-transform: uppercase;
}

.logo{
	width: 150px;
	height: 100%;
	background-image: url("../img/logo.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 10%;
}

.burger{
	display: none;
}

.great-menu {
	display: flex;
	align-items: center;
    height: 100%;
}

.great-menu.great-menu--show{
	display: flex;
}

.great-menu__ul {
    display: flex;
    height: 50%;
}

.great-menu__a{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 20px;
	color: @secondaryTextColor;
	
	&:hover{
		.brd(25px);
		color: #fff;
		background: @primaryColor;
	}

	&:active{
		background: @darkPrimaryColor;
	}
}

main{
	display: flex;
	justify-content: center;
	width: 100%;
}




























@media (max-width: 960px) {
	.great-header__bottom{
		display: none;
	}
}

@media (max-width: 767px) {
	.great-header__email{
		display: none;
	}
}

@media (max-width: 480px) {
	.great-header__message{
		display: none;
	}

	.great-header__rigth{
		width: 100%;
		justify-content: center;
	}
}