@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:100,300,400,500&subset=cyrillic');

@primaryColor:       #29c2e1;
@darkPrimaryColor:   darken(@primaryColor, 10%);
@lightPrimaryColor:  #BBDEFB;
@textPrimaryColor:   #FFFFFF;
@accentColor:        #f7941d;
@primaryTextColor:   #55595f;
@blackTextColor:	 #333333;
@secondaryTextColor: #93a1a7;
@dividerColor:       #BDBDBD;

@blue:               #e5eef0;

figure{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

ol{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

img{
  width: 100%;
  font-size: 0;
}

h1{
;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
  color: @primaryColor;
}

div, section, article, header, main, footer, form, input, button{
	box-sizing: border-box;
}

.transition(@transition){
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.brd(@brd){
  -webkit-border-radius: @brd;
  -moz-border-radius: @brd;
  border-radius: @brd;
}

.bxshd(@bxshd){
  -webkit-box-shadow: @bxshd;
  -moz-box-shadow: @bxshd;
  box-shadow: @bxshd;
}

.transform(@transform){
  -moz-transform: @transform; 
  -ms-transform: @transform; 
  -webkit-transform: @transform; 
  -o-transform: @transform;
  transform: @transform;
}

input[type="text"],
input[type="tel"],
input[type="email"]{
  font-size: 16px;
  letter-spacing: 1px;
  color: @secondaryTextColor;

  &:focus{
    outline: none;
  }
}

input::-webkit-input-placeholder{
  font-size: 16px;
  opacity: 1;
  font-family: 'Roboto Condensed', sans-serif;
  color: @secondaryTextColor;
  letter-spacing: 1px;
  text-transform: uppercase;
}
input::-moz-placeholder{
  font-size: 16px;
  opacity: 1;
  font-family: 'Roboto Condensed', sans-serif;
  color: @secondaryTextColor;
  letter-spacing: 1px;
  text-transform: uppercase;
}/* Firefox 19+ */
input:-moz-placeholder{
  font-size: 16px;
  opacity: 1;
  font-family: 'Roboto Condensed', sans-serif;
  color: @secondaryTextColor;
  letter-spacing: 1px;
  text-transform: uppercase;
}/* Firefox 18- */
input:-ms-input-placeholder{
  font-size: 16px;
  opacity: 1;
  font-family: 'Roboto Condensed', sans-serif;
  color: @secondaryTextColor;
  letter-spacing: 1px;
  text-transform: uppercase;
}

input:focus::-webkit-input-placeholder {opacity: 0;}
input:focus::-moz-placeholder          {opacity: 0;}
input:focus:-moz-placeholder           {opacity: 0;}
input:focus:-ms-input-placeholder      {opacity: 0;}

/*********/

body{
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: @primaryTextColor;
    overflow-x: hidden;
    position: relative;
}

.great-header{
	width: 100%;
	.bxshd(0 1px 5px 0px rgba(0, 0, 0, 0.5));
	z-index: 1;
}

.great-header__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
}

.great-header__top{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 50px;
	text-transform: uppercase;
	color: @secondaryTextColor;
	background: @blue;
}

.great-header__logo {

}

.great-header__rigth {
    display: flex;
	height: 100%;
	align-items: center;
}

.great-header__phone-number{
	display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    background-repeat: no-repeat;
	background-size: 22.5px;
	background-image: url("../img/smartphone.svg");
	background-position: -5px 12.5px;
}

.great-header__email{
	display: flex;
    align-items: center;
    height: 100%;
    padding-left: 85px;
    background-repeat: no-repeat;
	background-size: 22.5px;
	background-image: url("../img/envelope.svg");
	background-position: 54px 12.5px;
}

.great-header__bottom{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 76px;
	text-transform: uppercase;
}

.logo{
	width: 39px;
	height: 33px;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 10%;
}

.great-menu {
	display: flex;
	align-items: center;
    height: 100%;
}

.great-menu.great-menu--show{
	display: flex;
}

.great-menu__ul {
    display: flex;
    height: 50%;
}

.great-menu__a{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 20px;
	color: @secondaryTextColor;
	
	&:hover{
		.brd(25px);
		color: #fff;
		background: @primaryColor;
	}

	&:active{
		background: @darkPrimaryColor;
	}
}

main{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

/*slider*/

.item__wrapper{
	width: 100%;
	max-width: 1170px;
	margin-top: -80px;
	padding: 0 15px;
	text-align: center;
}

.item{
	position: relative;

	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
	}
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.item__title{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
	font-family: "Roboto Condensed";
	font-size: 56px;
	font-weight: 600;
	line-height: 1.4 * 56px; 
	color: #fff;
	z-index: 1;
}

.item__description{
	position: absolute;
	top: 100px;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-top: 20px;
	text-transform: uppercase;
	font-family: "Roboto Condensed";
	font-size: 20px;
	font-weight: 300;
	line-height: 1.4 * 22px; 
	color: #fff;
	z-index: 1;
}

.accen-word{
	font-size: 78px;
	color: @accentColor;
}

.owl-theme .owl-controls{
	margin-top: -55px;
	text-align: center;
	position: relative;
}

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	border: 3px solid rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	box-shadow: 0 1px 2px rgba(92, 92, 92, 0.5);
}

.owl-theme .owl-controls .owl-page span{
	border: 3px solid rgba(255, 255, 255, 1);
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	border-radius: 2px;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    margin: auto;
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
	border-radius: 2px;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-size: 0;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

.make{
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	font-size: 0;
}

.make__left {
	width: 100%;
	max-width: 645px;
	margin-right: 15px;
    padding: 120px 0px 0 0;
}

.titles {
    width: 100%;
}

.titles__title{
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 600;
	font-family: "Roboto Condensed";
	color: @blackTextColor;
}

.titles__description {
	margin-top: 2.5px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.4 * 16px;
    color: @blackTextColor;
}

.make__txt{
	margin-top: 35px;
	font-size: 14px;
	line-height: 1.6 * 14px;
}

.make__accent{
	font-family: "Roboto Condensed";
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: @accentColor;
}

.make__pic {
    width: 100%;
    max-width: 520px;
    margin-top: 80px;
}

.services{
	width: 100%;
	max-width: 450px;
	margin-left: 15px;
	padding: 120px 0;
}

.services__name{
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 600;
	font-family: "Roboto Condensed";
	color: @blackTextColor;
}

.services__service {
    display: flex;
    margin-bottom: 55px;
}

.services__rigth{
	width: 350px;
}

.services__pic{
	width: 67px;
	height: 67px;
	margin-right: 30px;
	background-image: url("../img/content.png");
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: 50%;
	background-color: @blue;
}

.services__pic--mortarboard{
	background-image: url("../img/mortarboard.png");
}

.services__pic--manager{
	background-image: url("../img/manager.png");
}

.services__title{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	font-family: "Roboto Condensed";
	color: @blackTextColor;
}

.services__description{
	margin-top: 5px;
	font-size: 14px;
	line-height: 1.4 * 14px;
}

.services__after-name{
	margin-top: 2.5px;
    text-transform: uppercase;
    font-size: 16px;
    color: @blackTextColor;
}

.partners{
	display: flex;
	justify-content: center;
	width: 100%;
	background: @blue;
}

.wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1170px;
	padding: 90px 15px;
}

.carousel {
	width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.carousel__slide {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
    width: 50%;
    margin-top: 50px;
    padding-left: 100px;
    background-image: url("../img/quote.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 55px;
}

.carousel__slide--show{
	position: relative;
	visibility: visible;
	opacity: 1;
    .transition(0.4s);
    transition-property: opacity;
}

.partners__txt{
	font-style: italic;
	line-height: 1.6 * 14px;
}

.partners__autor{
	display: block;
	margin-top: 35px;	
}

.partners__name {
	display: block;
    width: 100%;
    text-transform: uppercase;
    line-height: 1.4 * 14px;
    color: @accentColor;
}

.carousel__rigth {
    width: 50%;
    min-width: 480px;
    display: flex;
	justify-content: flex-end;
	margin-top: 50px;
}

.carousel__pic {
	display: flex;
	justify-content: center;
	align-items: center;
    width: 130px;
    height: 130px;
    margin: 0 0 0 30px;
    border-radius: 50%;
	overflow: hidden;
	position: relative;

	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(247, 148, 29, 0.5);
		display: none;
	}

	&:hover{
		&:after{
			display: block;
			cursor: pointer;
		}
	}
}

.carousel__pic--active {
	&:after{
		display: block;
	}
}

.features{
	display: flex;
	justify-content: center;
	width: 100%;
}

.wrapper--features{
	position: relative;

	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		right: 120px;
		width: 0;
		height: 0;
		border-left: 55px solid transparent;
		border-right: 50px solid transparent;
		border-bottom: 75px solid @primaryColor;
	}

	&:before{
		content: "";
		position: absolute;
		bottom: 0;
		right: 15px;
		width: 0;
		height: 0;
		border-left: 67.5px solid transparent;
		border-right: 67.5px solid transparent;
		border-bottom: 105px solid @accentColor;
	}
}

.features__pic{
	background-image: url("../img/content.png");
	background-size: 60%;
	background-position: 50%;
	background-repeat: no-repeat;
	background-color: @blue;
}

.features__pic--free{
	background-image: url("../img/package.png");
}

.features__pic--ruble{
	background-image: url("../img/ruble.png");
}

.features__pic--delivery{
	background-image: url("../img/delivery.png");
}

.features__pic--hammer{
	background-image: url("../img/justice.png");
}

.features__pic--equal{
	background-image: url("../img/equal.png");	
}

.features__item {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
    width: 360px;
    margin-top: 60px;
}

.features__pic{
	width: 100%;
	max-width: 67px;
	height: 67px;
}

.features__rigth{
	padding-right: 20px;
	padding-left: 30px;
}

.features__title{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	font-family: "Roboto Condensed";
	color: @blackTextColor;
}

.features__description{
	height: 58.8px;
	overflow: hidden;
	margin-top: 5px;
	overflow: hidden;
	line-height: 1.4 * 14px;
}

.team{
	display: flex;
	justify-content: center;
	width: 100%;
	background: @blue;
}

.titles--team{
	margin-bottom: 40px;
}

.team__person {
	width: 23%;
    .transition(0.2s);
    transition-property: box-shadow;

    &:hover{
    	.bxshd(0 0 15px 0px rgba(147, 161, 167, 0.5));
    }
}

.team__pic {
	font-size: 0;
}

.team__footer{
	padding: 30px;
	background: #fff;
}

.team__name{
	text-transform: uppercase;
	color: @blackTextColor;
}

.team__position{
	margin-top: 5px;
	font-size: 13px;
	line-height: 1.4 * 13px;
	color: @accentColor;
}

.team__number{
	display: block;
	margin-top: 10px;
	color: @secondaryTextColor;
	font-size: 13px;
}

.great-button{
	margin: 5px auto 0 auto;
	padding: 15px 25px; 
	border: none;
	.brd(25px);
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	background: @primaryColor;
	cursor: pointer;
	.transition(0.2s);
	transition-property: background;

	&:hover{
		background: @darkPrimaryColor;
	}

	&:active{
		background: darken(@darkPrimaryColor, 5%);
	}
}

.great-button--features{
	margin-top: 60px;
}

.titles--footer{
	text-align: center;
}

.titles__description--footer{
	font-weight: 300;
}

.great-button--footer{
	margin-top: 35px;
}

.great-footer{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	position: relative;

	&:after{
		content: "";
		position: absolute;
		bottom: 108px;
		left: 0;
		width: 0;
		height: 0;
		border-bottom: 310px solid @accentColor; 
		border-right: 450px solid transparent;	
	}

	&:before{
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		width: 0;
		height: 0;
		border-bottom: 350px solid @primaryColor; 
		border-left: 500px solid transparent;	
	}
}

.great-footer__footer{
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-top: 80px;
}

.footer-menu__title{
	display: block;
	margin-bottom: 30px;
	font-size: 20px;
	color: @blackTextColor;
}

.footer-menu__li {
    padding-bottom: 30px;
}

.footer-menu__a{
	text-transform: uppercase;
	color: @secondaryTextColor;

	&:hover{
		color: @primaryTextColor;
	}
}

.row{
	display: flex;
	width: 100%;
	margin-bottom: 30px;
}

.cell{
	text-transform: uppercase;
	line-height: 1.4 * 14px;
	color: @secondaryTextColor;
}

.cell--title{
	display: block;
	text-transform: none;
	font-size: 20px;
}

.row {
	.cell{
		&:first-child{
			padding-right: 5px;
			color: @blackTextColor;
		}
	}
}

.copyrigth {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 45px 0px;
    border-top: 1px solid @blue;
    text-transform: uppercase;
    color: @secondaryTextColor;
}

.wrapper--footer{
	padding: 90px 15px 50px 15px;
}

.black-area{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
	visibility: hidden;
	opacity: 0;
}

.black-area--show{
	visibility: visible;
	opacity: 1;
	.transition(0.2s);
}

.form{
	display: flex;
	flex-wrap: wrap;
	width: 450px;
	margin: auto;
	padding: 15px;
	background: #fff;
	position: relative;
}

.form__close{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 25px;
	height: 25px;
	background-image: url("../img/cancel.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50%;
	cursor: pointer;
}

.form__title {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4 * 18px;
    text-transform: uppercase;
}

.form__field {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid @secondaryTextColor;
    background: @blue;

    &:hover{
    	background: #fff;
    	.transition(0.2s);
    }
    
    &:focus{
    	border-color: @accentColor;
    	background: #fff;
    }
}

.form__button{
	width: 100%;
	height: 50px;
	margin-top: 20px;
	border: none;
	.brd(25px);
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	background: @primaryColor;
	cursor: pointer;
	.transition(0.2s);
	transition-property: background;

	&:hover{
		background: @darkPrimaryColor;
	}

	&:active{
		background: darken(@darkPrimaryColor, 5%);
	}
}














@media (max-width: 1500px) {
	.great-footer{
		&:after{
			border-bottom: 310px / 2 solid @accentColor; 
			border-right: 450px / 2 solid transparent;	
		}

		&:before{
			border-bottom: 350px / 2 solid @primaryColor; 
			border-left: 500px / 2 solid transparent;	
		}
	}
}

@media (max-width: 960px) {
	.item__title{
		font-size: 38px;
		line-height: 1.4 * 38px; 
	}

	.item__description{
		margin-top: 0;
		font-size: 16px;
		line-height: 1.4 * 16px; 
	}

	.make{
		flex-wrap: wrap;
	}

	.make__pic{
		display: none;
	}

	.make__left{
		max-width: 100%;
	}

	.carousel{
		flex-wrap: wrap;
	}

	.carousel__slide{
		width: 100%;
	}

	.carousel__rigth{
		width: 100%;
		justify-content: flex-end;
		margin-top: 40px;
	}

	.carousel__pic{
		width: 75px;
		height: 75px;
		margin: 0px 0 0 15px;
	}

	.carousel__pic:first-child{
		margin-left: 0;
	}

	.services{
		margin-left: 0;
		padding: 40px 0 90px 0;
	}

	.team__person{
		width: 49%;
		margin-bottom: 15px;
	}

	.titles--team{
		margin-bottom: 35px;
	}

	.great-footer{
		&:after{
			display: none;
		}

		&:before{
			display: none;
		}
	}
}

@media (max-width: 768px) {
	.great-header__bottom{
		display: none;
	}

	.great-header__email{
		display: none;
	}
	.item__description{
		display: none;
	}

	.item__wrapper{
		margin-top: -40px;
	}

	.item__title,
	.accen-word{
		font-size: 26px;
		line-height: 1.4 * 28px;
	}

	.partners__wrapper{
		padding: 45px 15px;
	}

	.carousel__slide{
		margin-top: 20px;
		padding-left: 0;
		background-image: none;
	}

	.carousel__pic{

	}

	.partners__autor{
		margin-top: 15px;
	}

	.carousel__rigth{
		justify-content: center;
		flex-wrap: wrap;
		min-width: auto;
		margin-top: 30px;
	}

	.make__left{
		padding-top: 80px;
	}

	.make__txt{
		margin-top: 20px;
	}

	.services{
		padding: 40px 0 40px 0;
	}

	.services__service{
		margin-bottom: 35px;
	}

	.wrapper{
		padding: 35px 15px;
	}

	.features__item{
		max-width: 450px;
		margin-right: 15px;
		margin-top: 35px;
	}

	.great-button--features{
		margin: 60px 15% 0px 0%;
	}

	.great-footer__footer{
		flex-wrap: wrap;
	}

	.footer-menu {
    	width: 100%;
	}

	.footer-menu__li{
		padding-bottom: 15px;
	}

	.row,
	.footer-menu__title{
		margin-bottom: 15px;
	}

	.great-footer__contacts {
		width: 100%;
    	margin-top: 40px;
	}
}

@media (max-width: 480px) {
	.great-header__message{
		display: none;
	}

	.great-header__rigth{
		width: 100%;
		justify-content: center;
	}

	.owl-carousel{
		display: none!important;
	}

	.carousel__rigth{
		display: none;
	}

	.carousel__slide{
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid @secondaryTextColor;
		position: relative;
		opacity: 1;
		visibility: visible;
	}

	.make__left{
		padding-top: 25px;
	}

	.services__pic{
		display: none;
	}

	.services__rigth{
		width: 100%;
	}

	.services__service{
		margin-bottom: 22.5px;
	}

	.features__pic{
		display: none;
	}

	.features__rigth{
		padding: 0;
	}

	.features__description{
		height: auto;
	}

	.team__person{
		width: 100%;
	}

	.great-button{
		width: 100%;
		margin-top: 37.5px;
	}

	.great-button--features{
		margin: 60px auto 0 auto;
	}

	.wrapper--features{
		&:after{
			display: none;
		}

		&:before{
			display: none;
		}
	}

	.copyrigth{
		text-align: center;
		line-height: 1.4 * 14px;
	}
}